h1, h2, h3, h4 {
	font-family: 'Dosis', helvetica, arial, sans-serif;
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
	color: #333333;
}
p {
	font-family: 'Dosis',helvetica, arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
}
a {
	font-family: 'Dosis',helvetica, arial, sans-serif;
	color: #4AEDAC;
	text-decoration: underline;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
a:hover {
	color: #FFFFFF;
}
.bbg-color {
	background-color: #FFFEF3;
}
.s1-container {
  position: relative;
}
.s1-logo {
	background-image: url("../images/S1-logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 10rem;
	width: 15rem;
	margin: 0.5rem auto;
}
.s1-button {
	background-color: #4AEDAC;
	border-radius: 8px;
	color: #FFFFFF;
	display: inline-block;
	font-family: 'Dosis',helvetica, arial, sans-serif;
	text-align: center;
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.s1-button:hover {
	background-color: #7C7C7C;
}
.filter-button{
	display: inline-block;
	width: 14rem;
	margin-bottom: 0;
}
.load-button {
	display: block;
	padding-left: 0;
	padding-right: 0;
	margin-left: 1rem;
}
.search-box {
	display: inline-block;
}
.s1-search-input {
	border-radius: 8px 0 0 8px;
	border: solid 1px #FFFFFF;
	background-color: #FFFFFF;
	color: black;
	display: inline;
	margin-right: -5px;
}
.s1-search-input:focus {
	border: solid 1px #7C7C7C;
	outline: 0;
}
.s1-search-input:hover {
	background-color: #FFFFFF;
}
.s1-search-button {
	background-color: #7C7C7C;
	border: solid 1px #7C7C7C;
	border-radius: 0 8px 8px 0;
	display: inline;
	margin-left: 0;
}
.s1-search-button:focus {
	outline: 0;
}
.side-navigation {
  background-color: #41DBF7;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow-x: visible;
  overfrlow-y: scroll;
  top: 0;
  width: 15rem;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 2px #888888;
  -webkit-box-shadow: 0 0 2px #888888;
  -moz-box-shadow: 0 0 2px #888888;

}
.side-navigation a {
	text-decoration: none;
	color: #7C7C7C;
}
.side-navigation ul {
	list-style: none;
}
.side-nav-button {
	background-color: #FFFFFF;
	border-radius: 8px 0 0 8px;
	float: right;
	margin-left: 1rem;
	margin-top: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	text-align: center;
	width: 13rem;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.side-nav-inactive:hover {
	background-color: #B7B7B7;
	color: #FFFFFF;
}
.side-nav-active {
	background-color: #FFFEF3;
	border-radius: 8px 0 0 8px;
	margin-right: -1rem;
	width: 14rem;
}
.pic-head {
	height: 12.5rem;
	background-image: url("../images/header-bg.jpg");
	background-size: cover;
 	background-position: 50% 35%;
	background-repeat: no-repeat;
	padding-left: 3rem;
}
.pic-head h1, p {
	color: #FFFFFF;
	margin-bottom: 0;
	padding-top: 2rem;
}
.pic-head p {
	padding-top: 0;
}
.filter {
	background-color: #B7B7B7;
	border-radius: 0 0 8px 8px;
	margin-left: 1rem;
}
.filter-container{
	display: none;
	box-shadow: 0 2px 1px #888;
	position: absolute;
	top: -10rem;
	-webkit-box-shadow: 0 2px 1px #888;
	-moz-box-shadow: 0 2px 1px #888;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.filter-container.is-active{
	top: 5rem;
	display: block;
	background-color: #FFFFFF;
	border-radius: 0 0 8px 8px;
}
.filter-container ul {
	list-style: none;
}
.filter-container li {
	display: inline-block;
}
.filter-selector.active {
	background-color: #FFFFFF;
	color: #7C7C7C;
	border-radius: 8px 8px 0 0;
	padding-bottom: 11px;
	margin-bottom: 0;
}
.contribute-cover {
	width: 2rem;
	height: 3rem;
	background-color: teal;
	position: absolute;
	top: 11rem;
	left: 14rem;
}
.card-box {
	margin-left: 1rem;
}
.card-box ul {
	margin-bottom: 0;
}
.project-card {
	box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
	background-color: #FFFFFF;
	border-radius: 8px;
	border: solid #4AEDAC 1px;
	margin-right: 1rem;
	margin-top: 1rem;
	display: inline-block;
	height: 25rem;
	width: 17rem;
	box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px #888;
	-moz-box-shadow: 0 0 2px #888;
	overflow: hidden;
}
.more-button {
	background-color: #41DBF7;
	border-radius: 0 0 8px 8px;
	width: 168px;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	top: 21px;
}
.card-image {
	width: 17rem;
	height: 9rem;
	border: solid #4AEDAC 1px;
	overflow: hidden;
}
.card-image img {
	width: 17rem;
}
.project-card h6 {
	margin-bottom: -1rem;
	padding-left: 1rem;
	padding-top: 1rem;
}

.card-desc {
	color: black;
	padding: 1rem;
}
.page-body {
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px #888;
	-moz-box-shadow: 0 0 2px #888;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-top: 1rem;
	padding: 1rem;
	text-align: center;
}
.page-body h3 {
	margin-top: 0;
}
.page-body h6 {
	padding-top: 0;
}
.page-body p {
	color: #000000;
	margin-bottom: 2rem;
	padding-top: 0;
}
.project-page {
	padding: 0;
	overflow: hidden;
}
.s1-footer {
	border-radius: 8px 8px 0 0;
	background-color: #B7B7B7;
	color: #FFFFFF;
	padding-top: 1rem;
	text-align: center;
	height: 5rem;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-top: 1rem;
}
.s1-footer ul {
	display: inline;
}
.s1-footer li {
	list-style: none;
	display: inline;
}
.s1-footer a {
	text-decoration: none;
}
.push {
	height: 6rem;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -6rem;
}
* {
margin: 0;
}
html {
	height: 100%;
} 
body {
	height: 100%;
	clear: both;
	margin-left: 15rem;
}
.lower-nav {
	display: inline-block;
	vertical-align: top;
	padding-left: 1rem;
	padding-right: 1rem;
}
.copyright {
	display: inline-block;
	vertical-align: top;
	padding-left: 1rem;
	padding-right: 1rem;
}
.foot-logo {
	display: inline-block;
	vertical-align: top;
	padding-left: 1rem;
	padding-right: 1rem;

}
.foot-content {
	text-align: center;
}
.side-foot {
	text-align: center;
	display: inline-block;
	color: #FFFFFF;
	height: 9rem;
}
.side-wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -9rem;
}
.side-push {
	height: 9rem;
}
.line-breaker {
	display: inline-block;
	height: 1px;
	background-color: #B7B7B7;
	width: 20rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.grey-or {
	color: #B7B7B7;
	display: inline-block;
}
.s1-form-input {
	border: solid 1px #B7B7B7;
	border-radius: 8px;
	color: #B7B7B7;
	width: 50rem;
	margin-left: 0;
	margin-right: 0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
.s1-form-submit {
	width: 50rem;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}
.form-box p {
	margin-bottom: -1rem;
	margin-top: 1rem;
}
.form-box {
	text-align: left;
	margin: 0 auto;
	width: 50rem;
}
.s1-check {
	display: inline-block;
	padding-right: 0.5rem;
}
.social-signin {
	width: 50rem;
	margin: 0 auto;
}
.form-switch {
	position: relative; 
	width: 50rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
}
.form-switch-check {
	display: none !important;
}
.form-switch-label {
	display: block; 
	overflow: hidden; 
	cursor: pointer;
	margin: 0;
}
.form-switch-label:hover {
	background-color: #4AEDAC;
}
.form-switch-inner {
	display: block;
	width: 100%; 
	margin-left: 0;
	-moz-transition: margin 0.3s ease-in 0s; 
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; 
	transition: margin 0.3s ease-in 0s;
}
.form-switch-selector {
	display: block; 
	width: 50%; 
	height: 34px;
	border-radius: 8px;
	border: solid 2px gray;
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 50%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-moz-transition: all 0.3s ease-in 0s; 
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; 
	transition: all 0.3s ease-in 0s;
}
.form-switch-inner:before {
	content: "For Profit";
	padding-left: 15%;
	color: #fff;
	float: left;
}
.form-switch-inner:after {
	content: "Non-Profit";
	color: #fff;
	float: right;
	padding-right: 15%
}
.form-switch-check:checked + .form-switch-label .form-switch-selector {
	left:0;
}
.form-switch-check:checked ~.conditional {
	visibility: hidden;
}
.conditional {
	color: #B7B7B7;
	display: block;
}
.form-cat:hover {
	background-color: #4AEDAC;
	cursor: pointer;
}
#cat-1:checked + .form-cat {
	background-color: #B7B7B7;
}
#cat-2:checked + .form-cat {
	background-color: #B7B7B7;
}
#cat-3:checked + .form-cat {
	background-color: #B7B7B7;
}
#cat-4:checked + .form-cat {
	background-color: #B7B7B7;
}
#cat-5:checked + .form-cat {
	background-color: #B7B7B7;
}
#cat-6:checked + .form-cat {
	background-color: #B7B7B7;
}
.decription-field {
	height: 5rem;
}
.image-drop {
	display: block;
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.profile-pic {
	padding: 2rem;
	display: inline-block;
	width: 20rem;
}
.img-icon {
	width: 4rem;
	display: block;
	margin: 0 auto;
}
.s1-form-filled {
	color: #000;
}
.basic-info {
	display: inline-block;
	width: 27rem;
	margin-left: 2rem;
}
.basic-info-fields {
	width: 27rem;
}
.project-image {
	background-image: url("../images/Turkish.town.cesme.jpg");
	height: 30rem;
	width: 60%;
	margin-left: 1rem;
	background-size: cover;
	background-position: 30%;
	border-radius: 0 8px 0 0;
	float: right;
}
.project-info {
	text-align: left;
	padding: 1rem;
}
.project-info h6 {
	margin-bottom: 0;
}
.fund-bar {
	border: solid 2px #B7B7B7;
	width: 38%;
	border-radius: 8px;
}
.fund-meter {
	background-color: #4AEDAC;
	border-radius: 6px;
	color: #fff;
	width: 8%;
	text-align: center;

}



