h1, h2, h3, h4 {
	font-family: 'Dosis', helvetica, arial, sans-serif;
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
	color: #333333;
}
p {
	font-family: 'Dosis',helvetica, arial, sans-serif;
	font-size: 19px;
	font-weight: 300;
}
a {
	font-family: 'Dosis',helvetica, arial, sans-serif;
	color: #4AEDAC;
	text-decoration: underline;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
a:hover {
	color: #FFFFFF;
}
.bbg-color {
	background-color: #FFFEF3;
}
/*.body-padding {
	padding-left: 2rem;
}*/
.s1-container {
  position: relative;
  width: 80%;
  margin-left: 16rem;
}
.s1-logo {
	background-image: url("../images/S1-logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 10rem;
	width: 15rem;
	margin: 0.5rem auto;
}
.s1-button {
	background-color: #4AEDAC;
	border-radius: 8px;
	color: #FFFFFF;
	display: inline-block;
	font-family: 'Dosis',helvetica, arial, sans-serif;
	text-align: center;
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.s1-button:hover {
	background-color: #7C7C7C;

}
.filter-button{
	display: inline-block;
	width: 14rem;

}
.load-button {
	display: block;
}
.search-box {
	display: inline-block;
}
.s1-search-input {
	border-radius: 8px 0 0 8px;
	border: solid 2px #FFFFFF;
	background-color: #FFFFFF;
	color: black;
	display: inline;
	margin-right: -5px;
}
.s1-search-input:focus {
	border: solid 2px #7C7C7C;
	outline: 0;
}
.s1-search-input:hover {
	background-color: #FFFFFF;
}
.s1-search-button {
	background-color: #7C7C7C;
	border: solid 2px #7C7C7C;
	border-radius: 0 8px 8px 0;
	display: inline;
	margin-left: 0;
}
.s1-search-button:focus {
	outline: 0;
}
.side-navigation {
  background-color: #41DBF7;
  bottom: 0;
  left: 0;
  padding-bottom: 50px;
  position: fixed;
  overflow-x: visible;
  overfrlow-y: scroll;
  top: 0;
  width: 15rem;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 2px #888888;
  -webkit-box-shadow: 0 0 2px #888888;
  -moz-box-shadow: 0 0 2px #888888;

}
.side-navigation a {
	text-decoration: none;
	color: #7C7C7C;
}
.side-navigation ul {
	list-style: none;
}
.side-nav-button {
	background-color: #FFFFFF;
	border-radius: 8px 0 0 8px;
	float: right;
	margin-left: 1rem;
	margin-top: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	text-align: center;
	width: 13rem;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.side-nav-inactive:hover {
	background-color: #B7B7B7;
	color: #FFFFFF;
}
.side-nav-active {
	background-color: #FFFEF3;
	border-radius: 8px 0 0 8px;
	margin-right: -1rem;
	width: 14rem;
}
.pic-head {
	height: 12.5rem;
	background-image: url("../images/header-bg.jpg");
	background-size: cover;
 	background-position-x: 50%;
 	background-position-y: 35%;
	background-repeat: no-repeat;
	background-color: teal;
	margin-left: 15rem;
	padding-left: 3rem;
}
.pic-head h1, p {
	color: #FFFFFF;
	margin-bottom: 0;
	padding-top: 2rem;
}
.pic-head p {
	padding-top: 0;
}
.filter {
	background-color: #B7B7B7;
	border-radius: 0 0 8px 8px;
	/*position: absolute;*/
}
.filter-container{
	display: none;
	box-shadow: 0 2px 1px #888;
	position: absolute;
	top: -10rem;
	-webkit-box-shadow: 0 2px 1px #888;
	-moz-box-shadow: 0 2px 1px #888;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.filter-container.is-active{
	top: 5rem;
	display: block;
	background-color: #FFFFFF;
	border-radius: 0 0 8px 8px;
}
.filter-container ul {
	list-style: none;
}
.filter-container li {
	display: inline-block;
}
.filter-selector.active {
	background-color: #FFFFFF;
	color: #7C7C7C;
	border-radius: 8px 8px 0 0;
	padding-bottom: 11px;
}
.contribute-cover {
	width: 2rem;
	height: 3rem;
	background-color: teal;
	position: absolute;
	top: 11rem;
	left: 14rem;
}
.project-card {
	background-color: #FFFFFF;
	border-radius: 8px;
	border: solid #4AEDAC 1px;
	margin-right: 1rem;
	margin-top: 1rem;
	display: inline-block;
	height: 25rem;
	width: 17rem;
	box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px #888;
	-moz-box-shadow: 0 0 2px #888;

}
.dyno-width {
	background-color: lightblue;
}
.dyna-width li {
	float: left;
}
.s1-footer {
	border-radius: 8px 8px 0 0;
	background-color: #B7B7B7;
	height: 5rem;
}
